<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings configSource="connections.config">
  </connectionStrings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="gtfsUpdate.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss.fff} %-5level %method - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss.fff} %-5level %method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings file="appsettings.config">
    <add key="DownloadAndCompareFeedInfo" value="false"/>
    <add key="CompareExtractedFeedInfo" value="false"/>
    <add key="FeedInfoFileUrl" value=""/>
    <add key="DownloadGTFS" value="false"/>
    <add key="GTFSDataSetUrl" value=""/>
    <add key="GTFSFileStructure" value=""/>
    <add key="GTFSZipPath" value=""/>
    <add key="GTFSPath" value=""/>
    <add key="SecondarySchemaName" value=""/>
    <add key="PrimarySchemaName" value=""/>
    <add key="DatabaseName" value=""/>
  </appSettings>
</configuration>