################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppLauncher
/ConfigUpdate/obj/Debug
/DataAccess/obj/Debug
/GtfsRealtimeLib/obj/Debug
/gtfsrt_alerts/obj/Debug
/gtfsrt_events_tu_latest_prediction/obj/Debug
/gtfsrt_events_vp_current_status/obj/Debug
/gtfsrt_tripupdate_denormalized/obj/Debug
/GTFSUpdate/obj/Debug
/ConfigUpdate/bin
/DataAccess/bin
/DataAccess/obj/Release
/GtfsRealtimeLib/bin
/GtfsRealtimeLib/obj/Release
/gtfsrt_alerts/bin
/gtfsrt_alerts/obj/Release
/gtfsrt_events_tu_latest_prediction/bin
/gtfsrt_events_tu_latest_prediction/obj/Release
/gtfsrt_events_vp_current_status/bin
/gtfsrt_events_vp_current_status/obj/Release
/gtfsrt_tripupdate_denormalized/bin
/gtfsrt_tripupdate_denormalized/obj/Release
/gtfsrt_vehicleposition_denormalized/bin/Release
/gtfsrt_vehicleposition_denormalized/obj
/GTFSUpdate/bin
/GTFSUpdate/obj/Release
/packages
